.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    font-size: 1.10rem;
    position: relative;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.05);
    background-color: white;
}

.navbar a.navbar-title {
    font-weight: bold;
    font-size: 1.5rem;
    margin-left: 1rem;
    color: #292929;
    text-decoration: none;
}

.navbar-right, .navbar-left {
    display: flex;
    align-items: center;
}

.navbar ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

.navbar li {
    display: inline;
    padding: 0 0.5rem;
}
  
.navbar li a, .navbar li span {
    text-align: center;
    text-decoration: none;
    color: #292929;
}

.navbar li span {
    cursor: pointer;
}