.login-title {
    font-size: 2rem;
    font-weight: bold;
}

.login-field span {
    font-weight: lighter;
    text-transform: uppercase;
}

.login-field input {
    margin: 0.7rem 0 1rem 0;
    font-size: 1rem;
    padding: 0.5rem;
}

.login-button {
    text-transform: uppercase;
    padding: 0.5rem;
    font-size: 1rem;
    font-family: monospace;
    background-color: transparent;
    border: 1px solid #292929;
    transition: all 0.1s ease-in-out;
}

.login-button:hover {
    background-color: #292929;
    color: #f3f3f3;
    cursor: pointer;
}